{% extends 'iems_app/base_template.html' %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <h2>Registration</h2>

                <label>Course 1</label>
                <input type="text" name="course_1" class="form-control">

                <label>Course 2</label>
                <input type="text" name="course_2" class="form-control">

                <label>Course 3</label>
                <input type="text" name="course_3" class="form-control">

                <label>Course 4</label>
                <input type="text" name="course_4" class="form-control">

                <label>Course 5</label>
                <input type="text" name="course_5" class="form-control">

                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                </div>

            </div>
        </div>
    </div>

</form>


{% endblock %}
